.wrapper {
	max-width: 1300px;
	width: 100%;
	margin: 0px auto;
}

.title {
	color: #4C73E3;
	font-size: 36px;
	font-weight: 400;
	margin: 48px 0px 56px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 20px
}