.header {
	background-color: #4C73E3;
}

.headerContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1300px;
	width: 100%;
	margin: 00px auto;
}

.headerAvatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #FFFFFF;
}

.headerNavigate {
	display: flex;
}